@value bgDark, tertiary from "../../../../styles/color.css"
{}

.album {
    position: relative;
    margin: 1px;

    height: 300px;
    width: 300px;

    background: bgDark;
}

.coverUrl {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: 0.75;
}

.info {
    height: 100%;
    width: 100%;

    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    cursor: pointer;
    
    &:hover {
        border-bottom: none;
    }

    & * {
        flex: 1;
    }
}

.label {
    padding: 0.2rem 0.4rem;

    background: tertiary;

    line-height: 1.4rem;
}

.info,
.iframe {
    position: relative;
    z-index: 1;
}
