@import "../../../../styles/color.less";
@import "../../../../styles/size.less";

@square: 300px;

.container {
    margin-bottom: @sizeS;
}

.preview {
    position: relative;
    margin: 1px;

    height: @square;
    width: @square;

    background: @bgShade;
}

.coverUrl {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.info {
    height: 100%;
    width: 100%;

    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    cursor: pointer;
    
    &:hover {
        border-bottom: none;
    }

    & * {
        flex: 1;
    }
}

.band,
.album {
    padding: @sizeXS @sizeS;

    width: calc(@square - @sizeS);

    line-height: @sizeM;
    font-size: @sizeM;
    text-align: left;
}

.band {
    opacity: 0.5;
}

.info,
.iframe {
    position: relative;
    z-index: 1;
    height: @square;
    width: @square;
}
