@import "../../../../styles/size.less";
@import "../../../../styles/color.less";

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.artist {
  margin: @sizeM;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.artistName {
  margin-bottom: @sizeM;
  padding: @sizeS;
  text-align: left;
  border-bottom: @sizeXS solid @neutral;
}

.albums {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
