.pager
	
	&__item
		margin-right: 10px
		padding: $padd

		border-radius: $br
   	
		&--active
			color: $white
			background: $primary
      
		&:hover
			color: $white
			background: darken($primary, 15)
			