@import "../../../styles/size.less";
@import "../../../styles/color.less";

a,
.link {
  color: var(--fgLightAccent);
  text-decoration: none;
  cursor: pointer;
  padding-bottom: @sizeXS;
  border-bottom: @sizeXS solid transparent;
}

a:hover,
.link:hover {
  border-bottom: @sizeXS solid var(--fgLightAccent);
}

.actionLink {
  color: @accent;
  cursor: pointer;
  padding-bottom: @sizeXXS;
  border-bottom: @sizeXXS solid @accent;
}

.actionLink:hover {
  color: @accentSolid;
  border-bottom: @sizeXXS solid @accentSolid;
}
