@value sizeS, padding, borderRadius from "../../../styles/size.css";
@value bgPrimary, secondary, secondaryDark from "../../../styles/color.css";

.item {
    margin-right: sizeS;
    padding: padding;

    border-radius: borderRadius;
    cursor: pointer;
}

.item:hover {
    color: bgPrimary;
    background-color: secondaryDark;
}

.itemActive {
    color: bgPrimary;
    background: secondary;
}
