@import "../../../styles/size.less";
@import "../../../styles/color.less";
@import "../../../styles/media.less";

.tabHeader {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: @sizeS;
}

.tabHeaderItem {
  flex: 150px;
  padding: @sizeS;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: @neutral;
  }
}

.tabHeaderItemSelected {
  background: @tertiaryLight;

  &:hover {
    background: @tertiaryLight;
  }
}

@media all and (min-width: @phoneMediaMax) {
  .tabHeader {
    flex-direction: column;
    padding-bottom: 0;
  }

  .tabHeaderItem {
    flex: 1;
  }
}
