@value sizeS, sizeM from '../../../../styles/size.css';
@value primaryLight, tertiaryLight, neutral, neutralLight from '../../../../styles/color.css';

.tabHeader {
    display: flex;
    justify-content: center;

    padding-bottom: sizeS;
}

.tabHeaderItemSelected,
.tabHeaderItem {
    margin-right: sizeM;
    padding: sizeS;

    border-radius: 0 0 sizeS sizeS;

    &:last-child {
        margin-right: 0;
    }
}

.tabHeaderItem {
    background: neutralLight;
    cursor: pointer;

    &:hover {
         background: neutral;
    }
}

.tabHeaderItemSelected {
    background: tertiaryLight;
    cursor: default;
}
