@value sizeM, sizeXS from "../../styles/size.css";
@value secondary from "../../styles/color.css";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header > * {
    margin-top: sizeM;
}

.content {
    padding: sizeM;
}

.footer > * {
    margin-bottom: sizeM;
}

.socialNav {
    padding: sizeM;
    border: sizeXS solid secondary;
}
