@value sizeM, sizeXS from "../../styles/size.css";
@value secondary, bgHeader, bgPrimary from "../../styles/color.css";

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background: bgPrimary;
}

.header {
    width: 100%;
    padding: sizeM;
    box-sizing: border-box;

    background-color: bgHeader;
}

.content {
}

.footer > * {
    margin-bottom: sizeM;
}

.socialNav {
    padding: sizeM;
    border: sizeXS solid secondary;
}
