@import "../../styles/size.less";
@import "../../styles/media.less";
@import "../../styles/color.less";

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fullScreen {
  display: none;
}

@media screen and (min-width: @phoneMediaMax) {
  .fullScreen {
    position: fixed;
    right: 0;
    top: 0;

    height: @sizeXXXL;
    width: @sizeXXXL;

    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
    background: @quaternary;

    &:hover {
      background: @quaternaryLight;
    }
  }
}

.header {
  width: 100%;
  height: @sizeXXXL;

  padding: @sizeM;
  box-sizing: border-box;

  background-color: @bgShade;
}

.content {
  display: block;
}

.footer {
  margin: @sizeM 0;
}

.footer > * {
  margin-bottom: @sizeM;
}

.socialNav {
  padding: @sizeM;
  border: @sizeXXS solid @quaternaryLight;
}
