@import "../../../../styles/size.less";

.playgroundIntro {
  text-align: left;

  margin-top: @sizeXXL;
  padding: 0 @sizeL;
}

.playgroundItem {
  padding: @sizeS 0;
}

.separator {
  margin: @sizeS 0;
}
