@value sizeS, sizeM, sizeXL, borderRadius from "../../../styles/size.css";
@value white, tertiary from "../../../styles/color.css";

.fixedContainer {
    position: fixed;
    right: sizeXL;
    bottom: sizeM;
}

.chatContainer {
    padding: sizeS;

    color: white;
    background-color: tertiary;
    border-radius: borderRadius;
}

.container > * {
    width: 100%;
    margin-bottom: sizeS;
}

.message {
    resize: none;
}
