@value sizeXS, sizeS, sizeM, sizeXL, borderRadius from "../../../styles/size.css";
@value fgLightAccent, tertiary from "../../../styles/color.css";

.fixedContainer {
    position: fixed;
    right: sizeXL;
    bottom: sizeM;
}

.chatContainer {
    position: relative;
    padding: sizeM;

    color: fgLightAccent;
    background-color: tertiary;
    border-radius: borderRadius;
}

.chatContainer > * {
    width: 100%;
    margin-top: 0;
    margin-bottom: sizeS;
}

.closeMark {
    position: absolute;
    top: sizeXS;
    right: sizeS;

    margin: 0;
    width: auto;

    cursor: pointer;
    opacity: 0.9;
}

.message {
    resize: none;
}
