@value padding, sizeM, sizeXXL, borderRadius from "../../../../styles/size.css";
@value bgPrimary, secondary from "../../../../styles/color.css";

.post {
    display: flex;
    justify-content: space-between;
    margin: sizeM 0;
}

.title {
    margin-right: sizeXXL;
}

.tag {
    padding: padding;

    color: bgPrimary;
    background: secondary;
    border-radius: borderRadius;
}

.container {
    margin-top: sizeXXL;
    margin-bottom: sizeXXL;
}
