@value padding, sizeM, borderRadius from "../../../../styles/size.css";
@value fgLightAccent, primary from "../../../../styles/color.css";

.tag {
    color: fgLightAccent;
    background: primary;
    border-radius: borderRadius;
    padding: padding;
    margin-right: sizeM;
}

.container {
    margin-bottom: sizeM;
}
