@value sizeS, padding, borderRadius from "../../../styles/size.css";
@value fgLightAccent, primary, primaryDark from "../../../styles/color.css";

.item {
    margin-right: sizeS;
    padding: padding;

    border-radius: borderRadius;
}

.item:hover {
    color: fgLightAccent;
    background-color: primaryDark;
}

.itemActive {
    color: fgLightAccent;
    background: primary;
}
