@value sizeXS, sizeS, sizeM, sizeL from '../size.css';
@value white, primaryLight, primary, secondaryLight, secondary from '../color.css';

button {
	cursor: pointer;
}

.btnPrimary,
.btnSecondary {
	padding: sizeS sizeM;
	color: white;
	border-radius: sizeXS;
	border: none;
	font-size: sizeL;
}

.btnPrimary{
	background-color: primaryLight;
}

.btnPrimary:active {
	background-color: primary;
}

.btnSecondary {
	background-color: secondaryLight;
}

.btnSecondary:active {
	background-color: secondary;
}
