button
	cursor: pointer

colored-btn(color)
	background: lighten(color, 20)
	&:active
		background: lighten(color, 10)

.btn-primary
.btn-secondary
	padding: 10px 20px
	color: white
	border-radius: 5px
	border: none
	font-size: 0.9em

.btn-primary
	colored-btn($primary)

.btn-secondary
	colored-btn($secondary)
