button
  cursor: pointer

.btn-primary
.btn-secondary
  padding: 10px 20px
  color: white
  border-radius: 5px
  border: none
  font-size: 0.9em

.btn-primary
  background: lighten($primary, 20)
  &:active
    background: lighten($primary, 10)
.btn-secondary
  background: lighten($secondary, 20)
  &:active
    background: lighten($primary, 10)
