button
	cursor: pointer

colored-btn(color)
	background: lighten(color, 20)
	&:active
		background: lighten(color, 10)

.btn-primary
.btn-secondary
	padding: $x2 $x4
	color: white
	border-radius: $x1
	border: none
	font-size: $x1 * 5

.btn-primary
	colored-btn($primary)

.btn-secondary
	colored-btn($secondary)
