@bgShade: rgba(47, 25, 33, 0.1);

@primarySolid: rgba(37, 104, 155);
@primary: rgba(37, 104, 155, 0.75);
@primaryDark: darken(@primary, 10%);
@primaryLight: lighten(@primary, 10%);

@secondarySolid: rgba(255, 201, 0);
@secondary: rgba(255, 201, 0, 0.75);
@secondaryDark: darken(@secondary, 10%);
@secondaryLight: lighten(@secondary, 10%);

@tertiarySolid: rgba(226, 58, 58);
@tertiary: rgba(226, 58, 58, 0.75);
@tertiaryDark: darken(@tertiary, 10%);
@tertiaryLight: lighten(@tertiary, 10%);

@quaternarySolid: rgb(140, 196, 45);
@quaternary: rgba(140, 196, 45, 0.75);
@quaternaryDark: darken(@quaternary, 10%);
@quaternaryLight: lighten(@quaternary, 10%);

@accentSolid: rgb(67, 216, 235);
@accent: rgba(67, 216, 235, 0.75);
@accentDark: darken(@accent, 10%);
@accentLight: lighten(@accent, 10%);

@neutral: rgba(210, 210, 210, 0.5);
@neutralDark: darken(@neutral, 20%);
@neutralLight: lighten(@neutral, 20%);

@stroke: #ccc;
