@value fgLightAccent, bgPrimary from "./color.css";

:global {

html, body, #entry-point {
    height: 100%;
}

body {
    margin: 0;
    color: fgLightAccent;
    background: bgPrimary;
}

body, button, input, textarea {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
}

a {
    color: fgLightAccent;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* large desktop */
@media all and (min-width: 1400px) {
    body, button, input, textarea {
        font-size: 25px;
    }
}

/* small desktop */
@media all and (max-width: 1400px) {
    body, button, input, textarea {
        font-size: 20px;
    }
}

/* tablet */
@media all and (max-width: 1024px) {
    body, button, input, textarea {
        font-size: 30px;
    }
}

/* mobile phone */
@media all and (max-width: 768px) {
    body, button, input, textarea {
        font-size: 40px;
    }
}

}
