@import "./color.less";
@import "./size.less";
@import "./media.less";

html,
body,
#entry-point {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  background: var(--bgPrimary);
  color: var(--fgLightAccent);
}

body,
button,
input,
textarea {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1em;
}

/* large desktop */
@media all and (min-width: @largeDsktopMediaMin) {
  body,
  button,
  input,
  textarea {
    font-size: 25px;
  }
}

/* small desktop */
@media all and (max-width: @smallDesktopMediaMax) {
  body,
  button,
  input,
  textarea {
    font-size: 20px;
  }
}

/* tablet */
@media all and (max-width: @tabletMediaMax) {
  body,
  button,
  input,
  textarea {
    font-size: 22px;
  }
}

/* mobile phone */
@media all and (max-width: @phoneMediaMax) {
  body,
  button,
  input,
  textarea {
    font-size: 15px;
  }
}
