@value fgLightAccent, bgPrimary from "./color.css";

:global {

html, body, #entry-point {
    height: 100%;
}

body {
    margin: 0;
    color: fgLightAccent;
    background: #060719;
}

body, button, input, textarea {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
}

a {
    color: fgLightAccent;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* small desktop */
@media all and (max-width: 1200px) {
    body {
        font-size: 20px;
    }
}

/* tablet */
@media all and (max-width: 1024px) {
    body {
        font-size: 25px;
    }
}

/* mobile phone */
@media all and (max-width: 768px) {
    body {
        font-size: 30px;
    }
}

}
